<div class="container">
    <div class="background">
        <div class="card">
            <div class="card-login" [formGroup]="formDragons">
                <label for="login">Login</label>
                <input type="text" id="login" formControlName="login">
                <label for="password">Senha</label>
                <input type="password" id="password" formControlName="password">
                <div class="buttons">
                    <button type="submit" [disabled]="formDragons.invalid" (click)="login()">Entrar</button>
                </div>
            </div>
        </div>
    </div>
</div>