<div class="container">
    <div class="background">
        <div class="card">
            <div class="card-login">
                <h3>Login</h3>
                <input type="text">
                <h3>Senha</h3>
                <input type="password">
                <div class="buttons">
                    <button type="submit">Entrar</button>
                    <button [routerLink]="['/registration-dragons']" class="registration">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</div>