<div class="header">
    <div class="dragons"></div>
</div>

<div class="container-back">
    <div class="title">
        <h3>Detalhes dos Dragões</h3>
    </div>
    <div class="card">
        <div class="details">
            <label>Nome: </label>
            <h4 class="name-cards">{{dragonsResult.name}}</h4>
            <label>Tipo: </label>
            <h4 class="type-cards">{{dragonsResult.type}}</h4>
            <label>Data de criação:</label>
            <h4 class="data-cards">{{dragonsResult.createdAt | date: "dd/MM/yyyy"}}</h4>
        </div>
    </div>
</div>