<div class="header">
    <div class="dragons"></div>
</div>

<div class="container-back">
    <div class="title">
        <h3>Alterar os Dados</h3>
    </div>
    <div class="container">
        <form [formGroup]="formDragon">
            <label>Nome: {{dragons.name}} </label>
            <input type="text" formControlName="name">
            <label>Tipo: {{dragons.type}}</label>
            <input type="text" formControlName="type">
            <button type="submit" (click)="save()">Salvar</button>
            <button type="submit" (click)="close()">Cancelar</button>
        </form>
    </div>
</div>